.container{
	display: grid;
	grid-template-columns: 17% 80% 3%;
	grid-template-rows: 40px 180px auto 50px;
	grid-template-areas: 
	"header search notifications"
	"profile main main"
	"sidebar main main"
	"version main main";
	font-family: Arial;
	font-size: 75%;
}

.item-a{
	grid-area: header;
	background-color: rgb(250, 251, 253);
}

.item-b{
	grid-area: search;
	background-color: rgb(250, 251, 253);
}

.item-c{
	grid-area: profile;
	border-top: 2px solid rgb(241, 242, 245);
	background-color: rgb(246, 247, 251);
	text-align: center;
}

.item-d{
	grid-area: sidebar;
	border-top: 2px solid rgb(241, 242, 245);
	background-color: rgb(250, 251, 253);
	text-align: left;
}

.item-e{
	grid-area: version;
	border-top: 2px solid rgb(241, 242, 245);
	background-color: rgb(250, 251, 253);
	padding-left: 34px;
}

.item-f{
	padding-left: 60px;
	grid-area: main;
	border-left: 2px solid rgb(241, 242, 245);
	border-top: 2px solid rgb(241, 242, 245);
	background-color: rgb(246, 247, 251);
}

.item-g{
	grid-area: notifications;
	background-color: rgb(246, 247, 251);
	
}

.subitem-f{
	margin-top: 24px;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"f1 f2 f3"
	"f4 f5 f6";
	grid-column-gap: 0px;
	grid-row-gap: 20px;
	overflow: scroll;
}

.subitem-f1{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85% 15%;
	grid-template-areas: 
	"person person"
	"confirm decline";
	border-radius: 10px;
	grid-area: f1;
	background-color: white;
    width: 280px;
    height: 280px;
    border: 2px solid rgb(241, 242, 245);
}

.subitem-f2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85% 15%;
	grid-template-areas: 
	"person person"
	"confirm decline";
	border-radius: 10px;
    grid-area: f2;
    background-color: white;
    width: 280px;
    height: 280px;
    border: 2px solid rgb(241, 242, 245);
}

.subitem-f3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85% 15%;
	grid-template-areas: 
	"person person"
	"confirm decline";
	border-radius: 10px;
	grid-area: f3;
	background-color: white;
	width: 280px;
	height: 280px;
	border: 2px solid rgb(241, 242, 245);
}

.subitem-f4{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85% 15%;
	grid-template-areas: 
	"person person"
	"confirm decline";
	border-radius: 10px;
	grid-area: f4;
	background-color: white;
	width: 280px;
	height: 280px;
	border: 2px solid rgb(241, 242, 245);
}

.subitem-f5{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85% 15%;
	grid-template-areas: 
	"person person"
	"confirm decline";
	border-radius: 10px;
	grid-area: f5;
	background-color: white;
	width: 280px;
	height: 280px;
	border: 2px solid rgb(241, 242, 245);
}

.subitem-f6{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 85% 15%;
	grid-template-areas: 
	"person person"
	"confirm decline";
	border-radius: 10px;
	grid-area: f6;
	background-color: white;
	width: 280px;
	height: 280px;
	border: 2px solid rgb(241, 242, 245);
}

.bold{
	border-radius: 1em;
	background-color: rgb(250,251,253);
	padding: 8px;
	font-weight: 700;
	margin-left: 30px;
}

.bold:hover{
	cursor: pointer;
	border-radius: 1em;
	background-color: rgb(60, 53, 221);
	margin-left: 37px;
	color: white;
	width: 150px;
	padding: 8px;
}

/*.bold:focus{
	border-radius: 1em;
	padding: 8px;
	background-color: rgb(60, 53, 221);
	color: white;
	width: 150px;
}*/

.sidebar-notifications{
	display: inline-block;
	color: white; 
	background-color: rgb(249,84,114);
	border-radius: 1em;
	width: 23px;
	padding-left: 8px; 
	margin-left: 4px;
}

.main_notifications{
	display: inline-block;
	color: white;
	background-color: rgb(60, 53, 221);
	border-radius: 1em;
	width: 27px;
	height: 14px;
	padding-left: 10px; 
	margin-left: 4px;
	font-size: 50%;
	padding-top: 5px;
}

.main_headers{
	font-size: 240%;
	display: inline-block;
}

.main_underline{
	border-radius: 1em;
	background-color: rgb(79, 96, 251);
	width: 45px;
	height: 4px;
	color: rgb(246, 247, 251);

}

.main_switch{
	background-color: rgb(234,239, 245);
	display: inline-block;
	border-radius: 2em;
	width: 140px;
	margin-left: 569px;
}

.main_switch:hover{
	cursor: pointer;
}

.main_switch p{
	display: inline-block;
	text-align: center;
}

.subitem_person{
	grid-area: person;
	border-bottom: 2px solid rgb(241, 242, 245);
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.subitem_confirm{
	grid-area: confirm;
	text-align: center;
	color: rgb(94, 108, 251);
	padding-top: auto;
	padding-bottom: auto;
}

.subitem_decline{
	grid-area: decline;
	text-align: center;
	border-left: 2px solid rgb(241, 242, 245);
}

.font_bold{
	font-weight: 700;
}

.person_name{
	font-weight: 700;
}

.subitem_confirm:hover{
	cursor: pointer;
}

.subitem_decline:hover{
	cursor: pointer;
}

#box{
	margin-left: 60px;
	width: 300px;
	height: 30px;
	color: rgb(109, 109, 111);
	background-color: rgb(250, 251, 253);
	border: none;
	font-size: 120%;
}

.image{
	margin-top: 40px;
	height: 80px;
	-webkit-border-radius: 100px;
}
